services:
  kdv-api:
    build: .
    container_name: kdv-api
    restart: unless-stopped
    
    # ПІДКЛЮЧАЄМО ФАЙЛ З СЕКРЕТАМИ
    env_file:
      - .env
      
    environment:
      - TZ=Europe/Kyiv
      
    networks:
      - dspacenet

    labels:
      - "traefik.enable=true"
      # Використовуємо `backticks`
      - "traefik.http.routers.kdv-api.rule=Host(`repo.fby.com.ua`) && PathPrefix(`/kdv/api`)"
      - "traefik.http.routers.kdv-api.priority=100"
      - "traefik.http.routers.kdv-api.entrypoints=web"
      - "traefik.http.services.kdv-api.loadbalancer.server.port=8000"
      - "traefik.docker.network=dspacenet"
      - "traefik.http.middlewares.kdv-api-strip.stripprefix.prefixes=/kdv/api"
      - "traefik.http.routers.kdv-api.middlewares=kdv-api-strip"

networks:
  dspacenet:
    external: true